.PlexContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-end;
    width: 80%;
    flex-direction: row;
}

.PlexContainer div {
    text-align: start;
    width: 420px;
    height: 280px;
    margin: 5px;

}

@media only screen and (max-width: 767px) {
    .PlexContainer div {
        height: inherit;
        width: 100%;
        margin: 10px 0;
        padding: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .PlexContainer div {
        width: 50%;
        margin: 10px 0;
    }
}

@media only screen and (min-width: 1024px) {
    .PlexContainer div {
        width: 420px;
        margin: 5px;
    }
}